  <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Error 404</h1>
              <p class="mb-0">Error 404</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Error 404</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Error 404</h2>
        <p>Error 404<br></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>Error 404</p>
      </div>

    </section><!-- /Starter Section Section -->

